*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.contant_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 50px auto 0;
    box-shadow: 5px 5px 5px #00000050;
    font-family: Arial, sans-serif;
    border-radius: 10px;
}


.form_container{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.form_detail{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1rem;
    margin-bottom: 5px;
}

input, select, textarea{
    padding: 6px 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus{
    outline-color: orangered;
}

.textarea_control{
    grid-column: 1/span 2;
}

.submit_button{
    display: flex;
    justify-content: end;
    margin-top: 25px;
}

button{
    padding: 6px 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 92, 11);
    color: white;
    cursor: pointer;
    transition: .3s ease-in;
}

button:hover{
    background-color: #c3541c;
    transition: .2s ease-out;
}

button:active{
    background-color: #692300;
}


@media (max-width:460px) {
    .textarea_control{
        grid-column: 1/span 1;
    }
}